---
import '../styles/footer.css';
import Social from './Social.astro';
---

<footer class="footer">
    <nav class="footer__nav">
        <Social platform="github" username="asamitaka" />
        <Social platform="twitter" username="asamitaka" />
    </nav>
</footer>
