---
import '../styles/header.css'
import ThemeIcon from './ThemeIcon.astro';
---
<header>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-li"><a href="/" class="nav__list-li--a">Home</a></li>
            <li class="nav__list-li"><a href="/about/" class="nav__list-li--a">About</a></li>
            <li class="nav__list-li"><a href="/blog/" class="nav__list-li--a">Blog</a></li>
            <li class="nav__list-li"><a href="/tags/" class="nav__list-li--a">Tags</a></li>
            <ThemeIcon />
        </ul>
    </nav>
</header>