---
const { platform, username } = Astro.props; 
---

<a class="social--a" href={`https://www.${platform}.com/${username}`}>{platform}</a>    

<style>
    .social--a {
        margin: 0 20px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    .social--a:hover {
        color: purple;
    }
</style>